.encabezado {height: 70px; background-color: rgba(33, 101, 190, 0.842)  ; text-align: center; box-shadow: 7px 13px 37px #fff;}
.encabezado h1 {padding: 10px; color: white;}
.acciones {text-align: center; padding: 20px;  margin: 0 auto; }
#boton-crear{font-size: 20px; padding: 1px 8px 1px 8px;}
#boton-listar{font-size: 20px; padding: 1px 8px 1px 8px; margin-left: 60px;}