.contador h3 {margin: 0; text-align: center; height: 40px; margin-bottom: 10px; border-bottom: 2px solid #138496; font-size: 30px;}
.resultados {text-align: center; height: 80%; font-weight: 500; border:none; margin: 0 auto; border: 1px solid #138496; border-collapse: collapse; }
.cabecera{border-bottom: 1px solid #138496; font-size: 20px}
.resultados td:first-child {width: 90px; border-bottom: 1px solid #138496; font-size: 20px}
.resultados td:nth-child(2) {width: 90px; border-bottom: 1px solid #138496; font-size: 20px; height: 35px;}
.resultados td:nth-child(3) {width: 90px; border-bottom: 1px solid #138496; font-size: 20px}
.resultados td:nth-child(4) {width: 110px; border-bottom: 1px solid #138496; font-size: 20px}
.resultados td:nth-child(5) {width: 110px; border-bottom: 1px solid #138496; font-size: 20px}
.resultados td:nth-child(6) {width: 110px; border-bottom: 1px solid #138496; font-size: 20px}
.resultados td:nth-child(7) {width: 110px; border-bottom: 1px solid #138496; font-size: 20px}
#boton-nuevo{font-size: 20px; padding: 1px 8px 1px 8px;}
#boton-crear{font-size: 20px; padding: 1px 8px 1px 8px;}